/* app css stylesheet */

body.waiting-for-angular div#container
{
  display: none;
}

body.waiting-for-angular div#loading-panel
{
  display: block;
  background-color: black;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

body div#loading-panel
{
  display: none;
}

.welcome
{
  position: fixed;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background-color: #000;
  border: solid 1px #555;
}

body
{
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1em;
}

.jswarning
{
  background-color: #880000;
  color:#FF6666;
  text-align:center;
}

a
{
  color:gold;
}

.nav-tabs
{
  margin-bottom: 2em;
  padding-top: 2px;
}

.nav-tabs ul
{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-tabs li
{
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-right: 30px;
  float: left;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #222;
  cursor: pointer;
}

.nav-tabs li:hover
{
  border-bottom-style:solid;
  border-width:2px;
  border-color:yellow;
}

.nav-tabs li a
{
  color: white;
  text-decoration: none;
}

.nav-tabs .active
{
  border-bottom-style:solid;
  border-width:2px;
  border-color:gold;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-content
{
  clear: both;
}

.container
{
    background-color: #222;
    width:1200px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.header-area
{
  clear:both;
  padding: 10px;
}

.header-logo
{
  float: left;
  display:inline-block;
  width: 150px;
  margin-right: 50px;
}

.search-bar
{
  float: left;
  margin-left:0px;
  margin-right:0px;
}

.user-area
{
  float: right;
  font-size: 0.6em;
}

.body-area
{
  clear:both;
  padding: 10px;
}

.menu-area
{
  float: left;
  width:200px;
}

.content-area
{
  margin-left:210px;
  margin-right:210px;
}

.extra-area
{
  float: right;
  width:200px;
}

.footer
{
  background-color: #111111;
  clear: both;
  padding: 5px;
  font-size: 0.7em;
}

.restaurant-search-block
{
  display: inline-block;
  width: 300px;
  height: 160px;
  margin-right: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  background-color: #333333;
  padding: 1em;
}

.restaurant-search-block-title
{
  float: left;
  font-size: 1.2em;
}

.feedpost
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  height: 200px;
  background-color: #333333;
  padding: 0.5em;
}



.star-rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

ul.star-rating {
  display: inline-block;
}

.star-rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.star-rating .filled {
  color: gold;
}





.userbadge
{
  display: inline-block;
  position: relative;
  width: 5em;
  height: 6.2em;
  margin: 0.1em;
  background-color: #333333;
  padding: 0.1em;
}

.userbadge img
{
  width: 4.6em;
  height: 4.6em;
  border: solid 0.2em black;
}

.userbadge-name
{
  margin-top: 0.2em;
  text-align: center;
  font-size: 0.6em;
  white-space: nowrap;
}

.userbadge-caret
{
  position: absolute;
  right: 0.1em;
  bottom: 0.0em;
  cursor: pointer;
}

.userbadge-menu
{
  position: fixed;
  display: none;

  background-color: #333333;
  border: solid 1px #555555;
}

.userbadge-menu ul
{
  text-decoration: none;
}

.userbadge-menu li
{
  width: 100%;
}