<p>The Lists.</p>
<tabset>
	<tab heading="All">
		<input type="text" ng-model="searchLists.search" ng-change="onListSearch()" class="search-query" placeholder="Search Lists">
		<div ng-hide="searchLists.isSearching">
			<div ng-repeat="list in searchLists.list">
				<a href="#/lists/{{list.id}}">{{list.name}}</a>
			</div>
		</div>
		<div ng-hide="!searchLists.isSearching">
			Searching...
		</div>
	</tab>
	<tab heading="Joined">
		<div ng-repeat="list in joinedLists">
			<a href="#/lists/{{list.list.id}}">{{list.list.name}}</a> | {{list.score}} / {{list.totalScore}} | {{list.totalVisits}}
		</div>
	</tab>
</tabset>
