<h1>{{theRestaurant.name}}</h1>
<tabs>
	<pane title="Details">
		Stuff goes here...
	</pane>
	<pane title="Gallery">
		Stuff goes here...
	</pane>
	<pane title="Feed">
		<div ng-repeat="post in posts | orderBy:'reviewDate'">
			{{post.reviewText}} | blahdeblah
		</div>
      	<form ng-submit="addPost()">
        	<input type="text" ng-model="addReviewText"  size="30" placeholder="Review">
        	<input class="btn-primary" type="submit" value="Post It!">  ---::: {{addReviewText}}
      	</form>
	</pane>
	<pane title="Social">
		<h5>In The Following Lists</h5>
		<div ng-repeat="list in inLists | orderBy: 'name'">
			<a href="#/lists/{{list.id}}">{{list.name}}</a>
		</div>
	</pane>
</tabs>