<div class="restheader" id="restheader"><div class="restheadertitle">{{theRestaurant.name}}</div></div>
<tabset>
	<tab heading="Details">
		<div>Cuisine: {{theRestaurant.cuisine}}</div>
		<div>Chef: {{theRestaurant.chef}}</div>
		<div>{{theRestaurant.address}}</div>
		<google-map center="map.center" draggable="true" zoom="map.zoom" markers="map.markers" style="height: 400px; display: block"></google-map>
		<div class="phonenumber">Phone: {{theRestaurant.phone}}</div>
		<div class="restemail">Email: <a href="mailto:{{theRestaurant.email}}">{{theRestaurant.email}}</a></div>
		<div class="resturl">Web: <a href="{{theRestaurant.website}}">{{theRestaurant.website}}</a></div>
	</tab>
	<tab heading="Gallery">
		Stuff goes here...
	</tab>
	<tab heading="Feed">
		<div class="addreviewform">
	      	<form ng-submit="feed.addPost()">
	      		<label for="reviewdate">When did you visit?</label>
	      		<input ui-date="dateOptions" ng-model="feed.addReviewDate"></input>
	      		<h4>{{feed.addReviewDate}}</h4>

	      		<label for="reviewmeal">What meal did you have?</label>
	      		<div class="btn-group">
			        <button type="button" class="btn btn-primary" ng-model="feed.addReviewMealType" btn-radio="'breakfast'">Breakfast</button>
			        <button type="button" class="btn btn-primary" ng-model="feed.addReviewMealType" btn-radio="'lunch'">Lunch</button>
			        <button type="button" class="btn btn-primary" ng-model="feed.addReviewMealType" btn-radio="'dinner'">Dinner</button>
			        <button type="button" class="btn btn-primary" ng-model="feed.addReviewMealType" btn-radio="'degustation'">Degustation</button>
			    </div>
			    <h4>{{feed.addReviewMealType}}</h4>

	      		<label for="reviewrating">How did you rate it?</label>
	      		<div star-rating rating-value="feed.addReviewScore" max="5"></div>

	      		<h4>{{feed.addReviewScore}}</h4>

	        	<input type="text" ng-model="feed.addReviewText"  size="30" placeholder="Review"/>
	        	<input class="btn-primary" type="submit" value="Post It!"/>
	      	</form>
	    </div>
		<div ng-repeat="post in feed.posts | orderBy:'reviewDate'">{{post.reviewedOn}} and gave it a score of {{post.score}}: {{post.content}}  {{post.reviewedBy}}

			<div class="postcomment">
				<form ng-submit="feed.addComment({{post}})">
					<label for="commenttext">Comment:</label><input type="text" ng-model="post.addComment" size="30" placeholder="Comment"/>
					<input class="btn-primary" type="submit" value="Comment It!"/>
				</form>
			</div>
			<div class="commentarea">
				<div ng-repeat="comment in post.comments | orderBy:'commentDate'">{{comment.commentBy}} : {{comment.content}}</div>
			</div>

		</div>
		</div>
	</tab>
	<tab heading="Social">
		<h5>In The Following Lists</h5>
		<div ng-repeat="list in inLists | orderBy: 'name'">
			<a href="#/lists/{{list.id}}">{{list.name}}</a>
		</div>
	</tab>
</tabset>